<footer>
    <div class="mt-4 p-5 bg-primary text-white rounded footer-container">
        <div class="footer-links">
            <a href="https://www.facebook.com/" target="_blank" class="footer-social-link">
                <i class="fa-brands fa-facebook"></i>Facebook
            </a>
            <a href="mailto:email@example.com" target="_blank" class="footer-social-link">
                <i class="fa-solid fa-envelope"></i> &#128233;Email
            </a>
        </div>
        <div class="footer-certification">
                <img src="//theme.hstatic.net/200000301138/1000730318/14/logo-bct.png?v=524"
                     alt="Đã Thông Báo Bộ Công Thương" style="width: 150px; height: auto; float: left; margin-right: 20px;"/>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-text" style="text-align: center;">
            <h1>Nhà Sách Hoàng Tử Bé</h1>
            <p>&copy; 2024 Nhà Sách Hoàng Tử Bé. All rights reserved.</p>
        </div>
    </div>
</footer>