<footer style="background-color: black; color: white; padding: 20px 0; text-align: center;">
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 10%; flex-wrap: wrap;">
        <div>
            <a href="https://www.facebook.com/" target="_blank" class="footer-social-link"
               style="color: white; text-decoration: none; margin-right: 15px; font-size: 16px;">
                <i class="fa-brands fa-facebook"></i> Facebook
            </a>
            <a href="mailto:email@example.com" target="_blank" class="footer-social-link"
               style="color: white; text-decoration: none; font-size: 16px;">
                <i class="fa-solid fa-envelope"></i>&#128233; Email
            </a>
        </div>

        <div>
            <img src="//theme.hstatic.net/200000301138/1000730318/14/logo-bct.png?v=524"
                 alt="Đã Thông Báo Bộ Công Thương"
                 style="width: 150px; height: auto;">
        </div>
    </div>

    <div style="margin-top: 20px;">
        <h1 style="margin: 0; font-size: 34px;">Nhà Sách Hoàng Tử Bé</h1>
        <p style="margin: 5px 0;">&copy; 2024 Nhà Sách Hoàng Tử Bé.</p>
    </div>
</footer>
