{% extends 'layout/base.html' %}

{% block header %}
<nav class="navbar navbar-expand-sm" style="background-color: #F2F9FF; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="https://res.cloudinary.com/dwmngambu/image/upload/v1735107510/nswa3fbhevj2zrepjz3z.jpg" class="brand-logo">
        <span class="brand-text ms-2">Nhà Sách Hoàng Tử Bé</span>
    </a>
    <button class="navbar-toggler" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
            <a class="nav-link active" href="/">Trang chủ</a>
            <form class="d-flex">
                <input class="form-control me-2" name="q" placeholder="Nhập từ khóa..." type="text">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown">
                    Danh mục sách
                </button>
                <ul class="dropdown-menu">
                    {% for category in categories %}
                    <li>
                        <a class="dropdown-item" href="/?ma_the_loai={{ category.ma_the_loai }}">
                            {{ category.ten_the_loai }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>

        <div class="navbar-nav d-flex align-items-center">
            <a class="nav-link text-success" href="/history" style="margin-right: 10px;">
                <i class="fas fa-history" style="margin-right: 5px;"></i>Lịch sử đặt hàng</a>
            <a class="nav-link text-success" href="{{ url_for('cart') }}">
                <i class="fas fa-shopping-cart"></i>
                Giỏ hàng
                <span class="badge badge-info" id="cartCounter" style="color: orange">
            {{ cart_stats.total_quantity }}
        </span>
            </a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="navbar-nav">
            <a class="nav-link text-info" href="/login">
                <img class="rounded img-fluid" src="{{current_user.avatar}}" width="25">
                Chào {{current_user.name}}!
            </a>
            <a class="nav-link text-info" href="/logout">
                &#9940;Đăng xuất
            </a>
        </div>
        {% else %}
        <div class="menu d-flex">
            <a class="nav-link text-info" href="/login">&#128100; Đăng nhập</a>
            <a class="nav-link text-info" href="/register">&#128101; Đăng ký</a>
        </div>
        {% endif %}
    </div>
    </div>
</nav>
{% endblock %}
{% block title %}
Lịch sử đặt hàng
{% endblock %}
{% block content %}

<br>
<h1 class="text-center text-danger">LỊCH SỬ ĐẶT HÀNG</h1>

<table class="table">
    <tr>
        <th>Mã đơn hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Trạng thái đơn hàng</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
        <td>
            {{ d[2].name }}

        {% if d[2].value==2 %}
            <form method="POST">
                <input type="hidden" name="order_id" value="{{ d[0] }}">
                <button type="submit" name="action" value="Pay" class="btn btn-info">Thanh Toán</button>


                <input type="hidden" name="order_id" value="{{ d[0] }}">
                <button type="submit" name="action" value="Cancel" class="btn btn-danger">Hủy đơn</button>
            </form>

        {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>


{% endblock %}