{% extends 'layout/base.html' %}


{% block content %}

<br>
<h1 class="text-center text-danger">LỊCH SỬ ĐẶT HÀNG</h1>

<table class="table">
    <tr>
        <th>Mã đơn hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Trạng thái đơn hàng</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
        <td>
            {{ d[2].name }}

        {% if d[2].value==2 %}
            <form method="POST">
                <input type="hidden" name="order_id" value="{{ d[0] }}">
                <button type="submit" name="action" value="Pay" class="btn btn-info">Thanh Toán</button>


                <input type="hidden" name="order_id" value="{{ d[0] }}">
                <button type="submit" name="action" value="Cancel" class="btn btn-danger">Hủy đơn</button>
            </form>

        {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>


{% endblock %}